html {
  font-family: "Open Sans", sans-serif;
  height: 100%; }

body {
  font-family: "Open Sans", sans-serif;
  height: 100%;
  background-color: #575757; }

h1, h2, h3, h4, h5 {
  color: #231f20;
  text-transform: uppercase;
  text-align: left;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

iframe {
  max-width: 100%; }

.follow-social {
  height: 42px;
  line-height: 52px;
  margin-right: 10px; }

.fb-like > span > iframe {
  max-width: none; }

.funky-text {
  text-transform: uppercase;
  text-shadow: 0px 1px 1px #ac1c22;
  text-align: left;
  font-weight: 700; }

h3.discreet {
  line-height: 20px;
  margin-top: 0; }

.lead {
  font-weight: 400; }

.media > .pull-left {
  margin-right: 10px; }

#layout figure {
  margin: 0;
  margin-right: 10px;
  margin-bottom: 30px;
  text-align: center; }

#wrap {
  position: relative;
  z-index: 1;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -350px; }

#push {
  height: 350px; }

#footer {
  height: 350px;
  position: relative;
  z-index: 3;
  top: -2px;
  margin-bottom: -3px;
  margin-top: 65px;
  background-color: #1b1b1b;
  border-top: 7px solid #b71e25;
  -webkit-box-shadow: 0px 0px 3px 2px rgba(27, 27, 27, 0.4);
  box-shadow: 0px 0px 3px 2px rgba(27, 27, 27, 0.4); }
  #footer h2, #footer h3, #footer h4, #footer h5, #footer h6 {
    color: #f5f5f5; }
  #footer .credit {
    position: absolute;
    bottom: 0; }
  #footer .container-fluid {
    margin-top: 10px; }
  #footer .sections li {
    float: left;
    margin: 0 5px 5px 0; }
    #footer .sections li a {
      text-transform: uppercase;
      text-align: center;
      padding: 5px;
      background-color: #1b1b1b;
      border: 1px solid #d1232a;
      display: block;
      width: 50px;
      height: 50px;
      overflow: hidden;
      border-radius: 2px;
      line-height: 50px;
      -webkit-transition: all 0.3s ease-out;
      -moz-transition: all 0.3s ease-out;
      -ms-transition: all 0.3s ease-out;
      -o-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out; }
      #footer .sections li a span {
        vertical-align: middle;
        display: inline-block;
        line-height: 1.2; }
      #footer .sections li a:hover {
        border-radius: 30px;
        text-decoration: none;
        background-color: #d1232a;
        color: #1b1b1b;
        -webkit-box-shadow: inset 0px 0px 5px 2px rgba(0, 0, 0, 0.5);
        box-shadow: inset 2px 2px 5px 2px rgba(0, 0, 0, 0.5); }
  #footer .social li a {
    background: url(../img/social_sprites.png) no-repeat;
    width: 69px;
    height: 69px;
    display: block; }
  #footer .social li .facebook {
    background-position: 0 0; }
  #footer .social li .twitter {
    background-position: -207px 0; }
  #footer .social li .linkedin {
    background-position: -138px -69px; }
  #footer .social li .youtube {
    background-position: -138px 0; }
  #footer .social li .rss {
    background-position: -69px -69px; }
    #footer .social li .rss .at15t_rss {
      display: none; }
  #footer .social li .facebook .at16nc, #footer .social li .twitter .at16nc {
    display: none; }

#social-toolbox {
  position: fixed;
  z-index: 2;
  bottom: 0;
  left: 0;
  width: 184px;
  background-color: #b71e25;
  padding: 10px;
  border-radius: 10px 10px 0 0;
  border-left: 2px solid #1b1b1b;
  border-right: 2px solid #1b1b1b;
  border-top: 2px solid #1b1b1b;
  -webkit-transition: right 0.3s ease-out;
  -moz-transition: right 0.3s ease-out;
  -ms-transition: right 0.3s ease-out;
  -o-transition: right 0.3s ease-out;
  transition: right 0.3s ease-out; }

#layout {
  text-align: justify;
  margin-top: 20px; }

.ninjawell, .breadcrumb {
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 3px 2px rgba(27, 27, 27, 0.4);
  box-shadow: 0px 0px 3px 2px rgba(27, 27, 27, 0.4); }

#selectionArticles.ninjawell {
  margin-bottom: -10px;
  padding: 0;
  padding-top: 10px; }
#selectionArticles h3 {
  margin-left: 10px; }

.ninjawell .thumbnails {
  margin-bottom: 0; }

.tags {
  text-align: right; }

.created span:first-child {
  border-radius: 3px 0 0 3px; }
.created span:last-child {
  border-radius: 0 3px 3px 0; }

#menu {
  margin-top: 40px; }
  #menu .container {
    position: relative; }
  #menu .navbar {
    margin-bottom: 0;
    position: relative; }
  #menu .navbar-inner {
    border-radius: 0; }
  #menu .navbar .navbar-inner {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out; }
  #menu .dropdown-menu {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    background: #1b1b1b;
    background: rgba(0, 0, 0, 0.9);
    margin: 0;
    border-radius: 0 0 6px 6px;
    border: none;
    left: 0; }
  #menu .navbar .nav > li > a {
    text-transform: uppercase;
    padding: 10px 7px 10px 7px;
    font-size: 15px; }
  #menu .dropdown-menu li {
    margin-left: 2px; }
    #menu .dropdown-menu li a {
      color: #f5f5f5;
      padding: 3px; }
      #menu .dropdown-menu li a.sub-section {
        width: 89px;
        height: 45px;
        line-height: 45px;
        text-align: center; }
  #menu .navbar .nav > li > .dropdown-menu:before {
    content: none;
    display: none; }

.navbar .nav > li > .dropdown-menu:after {
  content: none;
  display: none; }

#menu .tooltip-inner {
  color: #1b1b1b;
  background-color: #f5f5f5;
  border: 1px solid #a61b21;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.7); }
#menu .tooltip.top .tooltip-arrow {
  border-top-color: #a61b21; }
#menu .tooltip.right .tooltip-arrow {
  border-right-color: #a61b21; }
#menu .tooltip.left .tooltip-arrow {
  border-left-color: #a61b21; }
#menu .tooltip.bottom .tooltip-arrow {
  border-bottom-color: #a61b21; }
#menu .navbar:first-child .navbar-inner {
  border-radius: 15px 15px 0px 0px;
  -webkit-box-shadow: 0px 0px 3px 2px rgba(27, 27, 27, 0.4);
  box-shadow: 0px 0px 3px 2px rgba(27, 27, 27, 0.4); }
#menu .navbar:last-child .navbar-inner {
  border-radius: 0px 0px 15px 15px;
  -webkit-box-shadow: 0px 2px 3px 2px rgba(27, 27, 27, 0.4);
  box-shadow: 0px 2px 3px 2px rgba(27, 27, 27, 0.4); }
#menu .navbar .navbar-inner.square-corner {
  border-radius: 0; }
#menu .navbar .navbar-inner.extend {
  margin-right: -30px;
  margin-left: -30px;
  padding-right: 30px;
  padding-left: 30px; }
#menu .control-group {
  margin-top: 5px; }

.navbar .brand {
  position: relative;
  padding: 0; }

.logo {
  position: absolute;
  top: -40px;
  left: -20px;
  max-width: none;
  z-index: 2; }

.hhidden {
  visibility: hidden; }

h1.hhidden {
  font-size: 13px;
  line-height: 20px;
  min-width: 250px; }

#layout .breadcrumb {
  text-align: left;
  padding: 0 10px 0 10px;
  border-radius: 4px 50px 4px 4px;
  overflow: hidden;
  white-space: nowrap; }
  #layout .breadcrumb li a {
    display: block;
    background-color: #f5f5f5;
    padding: 10px 20px 10px 0px;
    border-radius: 0px 50px 0px 0px;
    -webkit-box-shadow: 2px 0 2px 0 rgba(27, 27, 27, 0.4);
    box-shadow: 2px 0 2px 0 rgba(27, 27, 27, 0.4);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out; }
    #layout .breadcrumb li a:hover {
      text-decoration: none;
      padding-left: 15px;
      padding-right: 30px; }
  #layout .breadcrumb li.active {
    padding: 10px 0px 10px 0;
    -webkit-box-shadow: none;
    box-shadow: none; }

.HomePage #innerLayout.ninjawell {
  padding-top: 0;
  overflow: hidden; }
.HomePage #innerLayout ul.articles li:first-child {
  border-top: none; }

#navextras {
  position: relative;
  z-index: 1; }
  #navextras .navbar .nav > li {
    float: right; }

.nav .form-search, .nav .input-append {
  margin-bottom: 0; }
.nav .control-group {
  margin-bottom: 5px;
  margin-right: 5px; }

#SearchForm_SearchForm_action_results {
  height: auto; }

.highlight li {
  position: relative; }
  .highlight li:last-child {
    border-radius: 0 0 4px 4px;
    overflow: hidden; }
    .highlight li:last-child img, .highlight li:last-child a > div {
      border-radius: 0 0 4px 4px;
      overflow: hidden; }
.highlight a > div {
  position: absolute;
  width: auto;
  margin: 0;
  padding: 5px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  border-top: 3px solid #b71e25;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }
  .highlight a > div h4 {
    color: #f5f5f5;
    font-size: 17px; }
.highlight a:hover > div {
  background-color: black; }
.highlight a > div .category {
  position: absolute;
  height: 25px;
  line-height: 25px;
  top: -32px;
  right: 0;
  background-color: #b71e25;
  color: #f5f5f5;
  padding: 2px 10px;
  border-radius: 4px 0 0; }
.highlight a img {
  width: 100%; }

.Section .category {
  display: none; }

.articles li {
  border-top: 1px solid #b71e25;
  margin: 0 -10px 0 -10px;
  padding: 5px 10px 5px 10px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }
  .articles li:last-child {
    border-bottom: 1px solid #b71e25; }
  .articles li:hover {
    background-color: #b71e25; }
  .articles li a {
    color: #231f20; }
    .articles li a:hover {
      text-decoration: none; }
  .articles li:hover h4 {
    color: #f5f5f5; }

.fb-comments {
  width: 100% !important; }
  .fb-comments span, .fb-comments.fb_iframe_widget span iframe {
    width: 100% !important; }

.HomePage .breadcrumb {
  display: none; }
.HomePage .carousel-control {
  line-height: 27px; }

#myCarousel {
  border-radius: 4px 0 0 4px;
  -webkit-box-shadow: 0px 0px 3px 2px rgba(27, 27, 27, 0.4);
  box-shadow: 0px 0px 3px 2px rgba(27, 27, 27, 0.4); }
  #myCarousel .carousel-inner {
    border-radius: 4px 0 0 4px;
    overflow: hidden; }
  #myCarousel:after {
    content: "";
    display: inline-block;
    border-left: 17px solid #231f20;
    border-bottom: 15px solid transparent;
    border-right: 18px solid transparent;
    border-top: 15px solid transparent;
    position: absolute;
    right: -36px;
    top: 0;
    bottom: 0;
    height: auto; }
  #myCarousel .highlight a > div {
    padding: 10px; }
    #myCarousel .highlight a > div h4 {
      font-size: 30px;
      line-height: 30px; }
    #myCarousel .highlight a > div .category {
      height: 30px;
      line-height: 30px;
      font-size: 20px;
      top: -43px;
      padding: 5px 15px;
      border-radius: 7px 0 0; }

#encartBanner {
  border-radius: 0 4px 4px 0;
  position: relative;
  -webkit-box-shadow: 0px 0px 3px 2px rgba(27, 27, 27, 0.4);
  box-shadow: 0px 0px 3px 2px rgba(27, 27, 27, 0.4); }
  #encartBanner > div {
    overflow: hidden; }
    #encartBanner > div:first-child {
      border-radius: 0 4px 0 0; }
    #encartBanner > div:last-child {
      border-radius: 0 0 4px 0; }
  #encartBanner:before {
    content: "";
    display: inline-block;
    border-right: 10px solid #b71e25;
    border-bottom: 15px solid transparent;
    border-left: 12px solid transparent;
    border-top: 15px solid transparent;
    position: absolute;
    left: -23px;
    top: 0;
    bottom: 0;
    height: auto; }
  #encartBanner > div {
    position: relative; }
  #encartBanner h4 {
    margin: 5px 0; }
